# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/
.vs/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

# Remove R files
*.Rproj
.Rhistory

# Remove Dask files
dask*/
.Rproj.user

# Ignore subfolders of data folder that contain tifs and pims but keep config files
*data/*/

# Ignore debug
debug/*/
!debug/*/control-20190731-tray5-FvFm
!debug/*/control-20190806-tray5-FvFm


# too many output files don't version control well
output/*/
!output/from_diy_data/.gitkeep

*.zip
packrat/lib*/

# ignore html reports
*.html